
{% extends 'crudapp/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "style/login.css" %}>

</head>
<body>
    <div class="container mt-5">
        <h2 class="alert alert-primary text-center ">Login Account !!</h2>
        {% if msg %}
         <div class="alert alert-success">{{msg}}</div>
        {% endif %}
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Login !!!</div>
                    <div class="card-body">
                        <form method="post"   >
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="form-label">Username :</label>
                                <input type="text" class="form-control"  placeholder="Enter username" name="username" >
                              </div>

                            <div class="form-group">
                                <label class="form-label">Password:</label>
                                <input type="password" class="form-control"  placeholder="Type password" name="password" >
                              </div>


                            <button type="submit" class="btn btn-primary mt-2">Login</button>
                          </form>

                          <p>New User ? <a href="../signup/">SignUp</a></p>
                    </div>
                </div>
            </div>
          <div class="col-lg-4"></div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>

{% endblock %}